.svg-container {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
}

.bubble-CH4 {
  fill: #40b79b;
}

.bubble-N02 {
  fill: #ffd763;
}

.bubble-FGAS {
  fill: #6a8adf;
}

.bubble-C02 {
  fill: #d14aa7;
}

.bubble-title-gas {
  font-size: 1.4em;
  font-family: "Inconsolata", monospace;
}

.hide-textbox {
  animation-duration: 1s;
  animation-name: fadeOutTextBox;
  animation-fill-mode: forwards;
}

@keyframes fadeOutTextBox {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.show-textbox {
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-name: fadeInTextBox;
  animation-fill-mode: backwards;
}

@keyframes fadeInTextBox {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.bubble-box-climate3-txtbox1 {
  left: 20%;
  bottom: 16%;
  width: 18%;
  text-align: left;
}

.bubble-box-climate3-txtbox2 {
  left: 22%;
  bottom: 8%;
  width: 25%;
  text-align: left;
}

.bubble-box-climate3-txtbox3 {
  right: 25%;
  bottom: 9%;
  width: 18%;
  text-align: left;
}

.label-electricity {
  fill: #fff;
}

.label-agriculture {
  fill: #f6e4df;
}

.label-industry {
  fill: #edcabf;
}

.label-transport {
  fill: #e4afa0;
}

.label-other {
  fill: #db9580;
}

.label-buildings {
  fill: #d37b61;
}
