.svg-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bubble-CH4 {
  fill: #40b79b;
}

.bubble-N02 {
  fill: #ffd763;
}

.bubble-FGAS {
  fill: #6a8adf;
}

.bubble-C02,
.bubble-C02-Electricity,
.bubble-C02-Industry,
.bubble-C02-Agriculture,
.bubble-C02-Transport,
.bubble-C02-Buildings,
.bubble-C02-Other {
  fill: #d14aa7;
}

.bubble-C02-Electricity2 {
  opacity: 0.5;
  fill: #d14aa7;
}

.bubble-title-gas {
  font-size: 1.4em;
  font-family: "Inconsolata", monospace;
}

.hide-textbox {
  visibility: hidden;
}

.show-textbox {
  visibility: visible;
}

.zoom {
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-name: fadeAndScale;
  animation-fill-mode: forwards;
}

@keyframes fadeAndScale {
  0% {
    transform: scale(1, 1);
    transform-origin: center;
  }
  40% {
    transform: scale(2, 2);
    transform-origin: center;
  }
  60% {
    transform: scale(2, 2);
    transform-origin: center;
  }
  100% {
    transform: scale(1, 1);
    transform-origin: center;
  }
}

.bubble-C02-electricty-split-color {
  fill: #d14aa7;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-name: changeColorElectricty;
  animation-fill-mode: forwards;
}

@keyframes changeColorElectricty {
  0% {
    fill: #d14aa7;
  }
  100% {
    fill: #d14aa7;
  }
}

.bubble-C02-agriculture-split-color {
  fill: #d14aa7;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-name: changeColorAgriculture;
  animation-fill-mode: forwards;
}

@keyframes changeColorAgriculture {
  0% {
    fill: #d14aa7;
  }
  100% {
    fill: #bd5ebe;
  }
}

.bubble-C02-industry-split-color {
  fill: #d14aa7;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-name: changeColorIndustry;
  animation-fill-mode: forwards;
}

@keyframes changeColorIndustry {
  0% {
    fill: #d14aa7;
  }
  100% {
    fill: #a36fd0;
  }
}

.bubble-C02-transport-split-color {
  fill: #d14aa7;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-name: changeColorTransport;
  animation-fill-mode: forwards;
}

@keyframes changeColorTransport {
  0% {
    fill: #d14aa7;
  }
  100% {
    fill: #877edb;
  }
}

.bubble-C02-other-split-color {
  fill: #d14aa7;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-name: changeColorOther;
  animation-fill-mode: forwards;
}

@keyframes changeColorOther {
  0% {
    fill: #d14aa7;
  }
  100% {
    fill: #6a8adf;
  }
}

.bubble-C02-buildings-split-color {
  fill: #d14aa7;
  animation-duration: 0.5s;
  animation-delay: 6s;
  animation-name: changeColorBuildings;
  animation-fill-mode: forwards;
}

@keyframes changeColorBuildings {
  0% {
    fill: #d14aa7;
  }
  100% {
    fill: #4571e8;
  }
}
