.climate2-title {
  padding-bottom: 1%;
  margin-top: 7%
}

.climate2-subtitle {
  opacity: 0.7;
}

.draggable-line,
.draggable-line-static {
  stroke: #FFD763;
  stroke-dasharray: 11.5;
  stroke-linecap: round;
  stroke-width: 5;
}

.draggable-line-static{
  stroke-width: 3;
  stroke-dasharray: 5.5;
}

.difference-line{
  stroke:#6A8ADF; 
  stroke-width: 0.5;
  stroke-linecap: round;
}

.snowline-wrapper {
  position:absolute;
    width:100%;
    bottom:0;
    text-align:center;
}

.snowline-enter {
  stroke: #6A8ADF;
  stroke-dasharray: 5.5;
  stroke-linecap: round;
  stroke-width: 3;
}
.snowline-update {
  stroke: #6A8ADF;
  stroke-dasharray: 11.5;
  stroke-linecap: round;
  stroke-width: 5;
}
.snowline-container {
  width: auto;
  height: 596px;
  background-image: url("../../assets/img/mountains.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

.snowline-graph {
  height: 596px;
}

.snowline-text {
  font-size: 0.7em;
  fill: #6A8ADF;
}

.active-d3-item {
  cursor: pointer;
  stroke: #FFD763;
  opacity: 0.6;
}

.active-text {
  opacity: 0.6;
}

.draggable-line-text-meter, .draggable-line-text-year{
  fill:  #FFD763;
}

.difference-rect{
  fill: #6A8ADF;
  opacity: 0.1;
}
.submit-button {
  background-color:#bbb9b9;
  color: #141416;
  position:absolute;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 0.9em;
}

.difference-text {
  fill: #6A8ADF;
  font-size: 0.7em;
}

.answer-text {
  fill: #6A8ADF
}

.draggable-text {
  fill: #FFD763;
}

/*Bubble Textbox*/
.bubble-box-climate2-start {
  left: 5%;
  width: 30%;
  text-align: left;
}
.bubble-box-climate2-answer {
  right: 5%;
  width: 30%;
  text-align: left;

}
