/*navigation*/
#navigation-button-back-mountain {
  bottom: 28.5%;
  left: 1.66%;
}

#navigation-button-next-mountain {
  bottom: 28.5%;
  right: 35.8%;
}

#navigation-button-back-glacier {
  bottom: 21.16%;
  left: 50.3%;
}

#navigation-button-next-glacier {
  bottom: 21.16%;
  right: 3.2%;
}

/*landscape*/
.landscape-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/mountainsLandscape.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.zoom-in-landscape-enter-done {
  transform-origin: 4.5% 100%;
  transform: scale(1.6);
  transition: transform 3s;
}

.zoom-in-landscape-appear {
  opacity: 0;
}

.zoom-in-landscape-appear-active {
  opacity: 1;
  transition: opacity 1500ms;
}

.zoom-in-landscape-exit,
.zoom-back-exit {
  transform-origin: 4.5% 100%;
  transform: scale(1.6);
}

.zoom-in-landscape-exit-active,
.zoom-back-exit-active {
  transform-origin: 94% 100%;
  transform: scale(2.15);
  transition: all 2s;
}

.zoom-in-landscape-exit-done,
.zoom-back-exit-done {
  transform-origin: 94% 100%;
  transform: scale(2.15);
  background-image: url("../../assets/img/mountainsLandscapeTransparent.svg") !important;
  transition: all 2s;
}

.zoom-back-enter {
  transform-origin: 94% 100%;
  transform: scale(2.15);
}

.zoom-back-enter-active {
  transform-origin: 4.5% 100%;
  transform: scale(1.6);
  transition: all 3s;
}

.zoom-back-enter-done {
  transform-origin: 4.5% 100%;
  transform: scale(1.6);
  transition: all 3s;
}

/*snowline*/
.draggable-line,
.draggable-line-static {
  stroke: #ffd763;
  stroke-dasharray: 11.5;
  stroke-linecap: round;
  stroke-width: 5;
}

.draggable-area {
  stroke: transparent;
  stroke-width: 30;
}

.draggable-line-static {
  stroke-width: 3;
  stroke-dasharray: 5.5;
}

.snowline-enter {
  stroke: #6a8adf;
  stroke-dasharray: 5.5;
  stroke-linecap: round;
  stroke-width: 3;
}
.snowline-update {
  stroke: #6a8adf;
  stroke-dasharray: 11.5;
  stroke-linecap: round;
  stroke-width: 5;
}
.snowline-container {
  height: 596px;
  background-image: url("../../assets/img/mountains.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 66%;
}

.snowline-graph {
  height: 596px;
}

.snowline-text {
  font-size: 13pt;
  fill: #6a8adf;
}

.difference-text {
  font-size: 15pt;
  font-weight: bold;
}

.draggable-line-text-meter,
.draggable-line-text-year,
.draggable-text,
.draggable-line-text-question {
  fill: #ffd763;
}

.draggable-line-text-question {
  font-size: 16pt;
  font-weight: bold;
}

.active-d3-item {
  cursor: pointer;
  stroke: #ffd763;
  opacity: 0.6;
}

.active-text {
  opacity: 0.6;
}

.hidden-elements {
  visibility: hidden;
}

.difference-rect {
  fill: #6a8adf;
}

.difference-line {
  stroke: #6a8adf;
  stroke-width: 3;
  stroke-linecap: round;
}

.submit-button-snowline {
  position: absolute;
}

.bubble-box-snow-introduction,
.bubble-box-climate2-snow-answer {
  width: 450px;
  left: 300px;
  bottom: 20px;
  text-align: left;
}

.fade-climate2-enter,
.fade-climate2-appear {
  opacity: 0;
}

.fade-climate2-enter-done {
  opacity: 1;
  transition-delay: 1s;
  transition: opacity 4000ms;
}

.fade-climate2-exit {
  opacity: 1;
}

.fade-climate2-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.source-snowline {
  right: 67px !important;
}

.snowline-title-wrapper {
  position: absolute;
  top: 37.8%;
  width: 66%;
}

.zoom-mountain {
  zoom: 60%;
}

/* glacier */
.bubble-box-glacier-answer {
  right: 27.5%;
  margin-right: 160px;
  bottom: 210px;
  text-align: left;
  width: 330px;
}

.rc-slider-handle {
  border: #6a8adf !important;
  background-color: white !important;
  width: 9px !important;
  height: 9px !important;
  margin-top: -4px !important;
}

.rc-slider-rail {
  background-color: #bbb9b9 !important;
  height: 1.5px !important;
}

.rc-slider-track {
  background-color: #ffd763 !important;
  height: 1.5px !important;
}

.slider-container-glacier {
  position: absolute;
  right: 480px;
  bottom: 10px;
  width: 140px;
  z-index: 100;
  background-color: #2d2d2e;
  border-radius: 5px;
  height: 65px;
  padding: 5px 10px;
  right: 17%;
  margin-right: 210px;
}

.slider-text-volume,
.slider-text-ice,
.slider-text-scaleFactor {
  position: absolute;
  width: 32%;
  left: 0%;
  text-align: center;
}

.slider-text-ice {
  left: 34%;
}

.slider-text-small-ice {
  height: 14pt;
  margin-bottom: 0;
}

.slider-text-scaleFactor {
  left: 68%;
}

.slider-text-small {
  font-size: 13pt;
  margin: 10px auto;
  margin-right: auto;
  white-space: pre-wrap;
}

.slider-text-bold {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: -12px;
  color: #ffd763;
  margin-top: 1px;
}

.submit-button-glacier {
  margin-top: 25px;
  left: -3%;
}

.text-solution-bold {
  font-size: 1.1em;
  color: #6a8adf;
}

.glacier-img-container {
  text-align: center;
}

.glacier-animation-fade-in-enter {
  visibility: hidden;
  opacity: 0;
}

.glacier-animation-fade-in-enter-done {
  opacity: 1;
  visibility: visible;
  transition: visibility 3s ease-in, opacity 3s ease-in;
}

.glacier-animation-scale-up-enter,
.glacier-animation-scale-up-appear {
  transform-origin: bottom;
  transform: scale(1, 0);
}

.glacier-animation-scale-up-enter-done {
  transform-origin: bottom;
  transform: scale(1, 1);
  transition: transform 2s linear;
}

.glacier-animation-scale-down-enter-done {
  transform-origin: bottom;
  transform: scale(1, 0);
  transition: transform 2s linear;
}

.glacier-img {
  position: absolute;
  bottom: 0;
}

.glacier-text,
.glacier-estimation-text,
.glacier-original-text {
  margin: 0;
  font-size: 13pt;
}

.glacier-result-text {
  margin-bottom: 12px;
  bottom: 210px;
}

.glacier-original-text {
  bottom: 550px;
}

.glacier-original-text,
.glacier-result-text,
.glacier-input-text {
  color: #6a8adf;
  transform: rotate(-2.7deg);
  width: 120px;
  padding-left: 100px;
  z-index: 100;
  position: absolute;
  left: 50%;
}

.glacier-input-text, .glacier-estimation-text {
  color: #ffd763;
}

.glacier-estimation-line {
  height: 3px;
  width: 230px;
  background: repeating-linear-gradient(to right, #ffd763 0, #ffd763 5px, transparent 5px, transparent 7px);
}

.estimation-container {
  height: 32px;
  position: absolute;
  text-align: right;
  left: 50%;
  margin-left: 350px;
}

.glacier-zoom {
  zoom: 45%;
}

.glacier-wrapper {
  position: absolute;
  bottom: 0;
  left: 38%;
  width: 62%;
}

.glacier-title-wrapper {
  position: absolute;
  width: 66%;
  left: 40.5%;
  top: 53.7%;
}

.source-glacier {
  position: absolute;
  width: 250px;
  right: 15% !important;
}
