.draggable-line,
.draggable-line-static {
  stroke: #FFD763;
  stroke-dasharray: 10;
  stroke-linecap: round;
  stroke-width: 5;
}

.snowline-wrapper {
  position: fixed;
  bottom: 0;
  margin-left: 30%;
}

.snowline-enter {
  stroke: #bbb9b9;
  stroke-dasharray: 5.5;
  stroke-linecap: round;
  stroke-width: 3;
}
.snowline-update {
  stroke: #6A8ADF;
  stroke-dasharray: 5.5;
  stroke-linecap: round;
  stroke-width: 3;
}
.snowline-container {
  width: 741px;
  margin: auto;
  z-index: 100;
  background-image: url("../../assets/img/mountains.svg");
  background-repeat: no-repeat;
}

.snowline-graph {
  height: 500px;
}

.active-d3-item {
  cursor: pointer;
  stroke: #FFD763;
  opacity: 0.6;
}

/*Bubble Textbox*/
.bubble-box-climate2-start {
  left: -25%;
  width: 50%;
}
.bubble-box-climate2-answer {
  right: -45%;
  top: -10%;
  width: 50%;
}
