/*temperature linegrap style*/
.temperature-graph {
  height: 220px;
}

.grid line {
  stroke: #141416;
  opacity: 0.6;
}

.grid path {
  stroke-width: 0;
}

path.domain {
  stroke: #141416;
}

.axis text {
  fill: #bbb9b9;
  opacity: 0.3;
}
.tick line {
  stroke: #141416;
  opacity: 0.6;
}

text.global-name,
text.country-name,
text.year-text {
  font-size: 0.6em;
}

/*world component style*/
.legend-world {
  width: 265px;
  height: 50px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  margin-left: -132.5px;
}

.legendCells {
  transform: translateY(20px);
}

svg text.legendTitle {
  fill: #bbb9b9;
  font-size: 0.6em;
  transform: translate(0px, 9px);
}

svg text.label {
  fill: #bbb9b9;
  font-size: 0.6em;
}

.scene-tooltip {
  font-family: "Open Sans", sans-serif;
}

.location-button button {
  color: #bbb9b9;
  text-align: center;
  margin-bottom: 2em;
  position: fixed;
  bottom: -1.5%;
  left: 1.5%;
  display: block;
  font-size: 0.6em;
}

.globe-container {
  position: absolute;
}

.climate-1-title,
.climate-1-subtitle {
  position: absolute;
  z-index: 10;
  text-align: center;
  width: 100%;
}

.climate-1-subtitle {
  top: 120px;
}

.bubble-box-climate1-globe {
  bottom: 15%;
  left: 41.2%;
  width: 265px;
}

/* modal */
.modal-content {
  width: fit-content;
  background-color: #202023;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
  }
}

.modal-dialog {
  position: absolute;
  bottom: 3%;
  left: 48.5%;
  margin: 0%;
}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-footer,
.modal-header {
  border: none;
  display: block;
}

.modal-footer {
  font-size: 0.9em;
  text-align: left;
}

div.modal-header {
  display: block;
  text-align: center;
  padding: 0;
}

button.close {
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;
}

button.close span {
  color: #bbb9b9;
  text-shadow: none;
}
