/*temperature linegraph style*/
.temperature-graph-container{
  display: flex; justify-content: center;
}
.temperature-graph {
  width: 70em;
  z-index: 100;
  height: 500px;
  margin: auto;
}

/*world component style*/
.legend-world {
  padding-top: 50px;
  display: block;
  margin: auto;
  width: 240px;
}
.text.legendTitle,
.text.label {
  fill: #bbb9b9;
}

.location-button,
.language-button {
  font-size: medium;
  color: #bbb9b9;
}
