.legend-world {
  padding-top: 50px;
  display: block;
  margin: auto;
  width: 240px;
}

.temperature-graph {
  width: 1500px;
  z-index: 100;
  height: 500px;
}

.text.legendTitle,
.text.label {
  fill: #bbb9b9;
}

.info-box {
  height: auto;
  width: 40em;
}
