body {
  font-family: "Open Sans", sans-serif;
  background-color: #141416;
  color: #bbb9b9;
}
/*headings and fonts*/
h1 {
  font-family: "Inconsolata", monospace;
  font-size: 2.2em;
  text-align: center;
  padding-bottom: 50px;
}

h2 {
  font-family: "Inconsolata", monospace;
  font-size: 24pt;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-align: left;
}

h6 {
  font-size: 0.7em;
  color:white;
  opacity: 0.2;
}

p {
  font-size: 1em;
}

/* infobox style*/
.infobox-enter,
.infobox-exit {
  opacity: 0;
  transform: scale(0.9);
}
.infobox-enter-active,
.infobox-exit-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}

.infobox-container {
  height: auto;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  top: 100%;
  right: 3%;
  width: 100%;
}

#back-button {
  margin-right: 1em;
}

#next-button {
  margin-left: 1em;
}

/* general button style*/
button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: 0;
}

/* languague button style*/
button.language-button,
#language-button-clicked {
  font-size: 1.2em;
  font-family: "Inconsolata", monospace;
  color: #fffbfb;
  background-color: #bbb9b9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

#language-button-clicked {
  color: #141416;
  background-color: #D37B61;
}

.language-button-container {
  position: fixed;
  bottom: 0;
  left: 85.5%;
  margin-bottom: 1.5%;
  width: 220px;
}
