body {
  font-family: "Open Sans", sans-serif;
  background-color: #141416;
  color: #bbb9b9;
}
/*headings and fonts*/
h1 {
  font-family: "Inconsolata", monospace;
  font-size: 2.2em;
  text-align: center;
  padding-bottom: 50px;
}

h2 {
  font-family: "Inconsolata", monospace;
  font-size: 24pt;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  text-align: left;
}

h6 {
  font-size: 12pt;
}

p {
  font-size: 1em;
}

span {
  font-size: 0.8em;
}

/* infobox style*/
.infobox-enter,
.infobox-exit {
  opacity: 0;
  transform: scale(0.9);
}
.infobox-enter-active,
.infobox-exit-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}

.infobox-container {
  height: auto;
  text-align: justify;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  top: 100%;
  right: 8.5%;
  width: 91.5%

}

.infobox-paragraph {
  margin: 0;

}

#back-button {
  margin-right: 1em;
}

#next-button {
  margin-left: 1em;
}

/* general button style*/
button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: 0;
}

/* languague button style*/
button.language-button,
#language-button-clicked {
  font-size: 1.1em;
  color: #fffbfb;
  background-color: #bbb9b9;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: 0.5em;
  margin-bottom: 0.8em;
}

#language-button-clicked {
  color: #141416;
  background-color: #d14aa7;
}
